# required for npm to install deps from git. we need this for an unversioned swarm-shared.
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers.html
# http://stackoverflow.com/questions/25967427/error-on-first-git-aws-push-to-elastic-beanstalk
# https://github.com/npm/npm/issues/5967
packages:
  yum:
    git: []
    openssl-devel: []
    expat-devel: []
    gettext-devel: []
    zlib-devel: []
